<!doctype html>
<!-- Adicionar um load staticfiles para chamada arquivos staticos -->
{% load static %}
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/core.css' %}">

  <title>
    {% block titulo %}
    {% endblock titulo %}
  </title>
</head>

<body>
  <!-- Navbar -->

  <!-- style dividido pelas tags (resolver)!-->
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a style="text-decoration:none; color:aliceblue" class="navbar-right" href="{% url 'home_produtos' %}">Web Dev
        Amapá</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a style="color:aliceblue" class="nav-link active" aria-current="page"
            href="{% url 'home_produtos' %}">Home</a>
        </li>
        <li class="nav-item">
          <a style="color:aliceblue" class="nav-link" href="#">Options</a>
        </li>
        <li class="nav-item">
          <a style="color:aliceblue" class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a style="color:aliceblue" class="nav-link " href="#" tabindex="-1" aria-disabled="true">Help</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="app">
    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center">
          <a class="navbar-brand text-white text-center" href="#">
          </a> <br>
        </div>
        <div id="list-aside" class="list-group list-group-flush">
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">home</i> Página Inicial</a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">group</i> Dashboard</a>
          <a href="{% url 'home_produtos' %}" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">maps_home_work</i> Produtos</a>
          </a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">view_list</i> Cliente</a>
          </a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">view_list</i> Software</a>
          </a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">view_list</i> Promoção</a>
          </a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">view_list</i> Configurações</a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">account_circle</i> Usuários</a>
          <a href="" class="list-group-item list-group-item-action align-items-center">
            <i class="material-icons align-middle">close</i> Sair</a>
        </div>
      </div>
      <div id="page-content-wrapper">
        <br>
        {% block conteudo %}

        {% endblock conteudo %}
      </div>
      <!--Rodapé -->
      <!--Rodapé precisa ser fixado e também retirar os style das tags -->
      <!--Bug no radapé, verificar o css aplicado nele-->>
      <footer class="bg-dark">
        <div id="rodape1" class="contact-area">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="main-title" style="color: aliceblue; text-align: center;">contact us</h3>
                <br>
              </div>
              <div class="col-md-4 contact-box" style="color: aliceblue;">
                <i class="fas fa-phone"></i>
                <p><span class="contact-tile">Call to:</span> (96)99183-4229</p>
                <p><span class="contact-tile">Schedules: </span> 8:00 - 19:00</p>
              </div>
              <div class="col-md-4 contact-box" style="color: aliceblue;">
                <i class="fas fa-envelope"></i>
                <p><span class="contact-tile">Send an e-mail:</span> diegosantosmeta@gmail.com</p>
              </div>
              <div class="col-md-4 contact-box" style="color: aliceblue;">
                <p><span class="contact-tile">Come have a coffee:</span> Rua Loren Ipsum - 1314</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>