<!--Dashboard será implemnetada com data science-->
{% extends '../base_painel.html' %}

{% block conteudo %}
<div>
    <h1>Dados Produtos</h1>
</div>
<div style="text-align: right; padding: 5px 110px;">
<a href="https://covid.saude.gov.br/"><button>Download CSV</button></a>
</div>
<div style="text-align: center;">
<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4dd7edf1-fdc6-4307-9834-562e1e0aa85a&autoAuth=true&ctid=6efd7fe5-c23a-4db3-8d65-590f190cefcb&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock conteudo %}
