html, body {margin: 0;padding: 0;height: 100%;overflow: hidden;}

#rodape1 { bottom: 0;position: absolute;text-align: center;width: 100%;height: auto;line-height: 1.15;background: #212529;padding: 30px 0;}
#rodape1 p { font-family: Arial, sans;  color: white;}
#rodape1 p a { text-decoration: none; color: white;}

#rodape2 { bottom: 0;position:relative;text-align: center;width: 100%;height: auto;line-height: 1.15;background: #212529;padding: 30px 0;}
#rodape2 p { font-family: Arial, sans;  color: white;}
#rodape2 p a { text-decoration: none; color: white;}
